{
  "ci": false,
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/gitlab",
      {
        "gitlabUrl": "http://cmisgitlab01",
        "gitlabApiPathPrefix": "/api/v4"
      }
    ],
    "@semantic-release/npm"
  ]
}